<h2>Lista de Estudiantes</h2>

<table border="1" cellpadding="8" cellspacing="0">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo</th>
    <th>Edad</th>
    <th>Matriculas</th>
  </tr>
  <tr>
    <td>{{ e.nombre }}</td>
    <td>{{ e.apellido }}</td>
    <td>{{ e.get_tipo_estudiante_display }}</td>
    <td>{{ e.edad }}</td>
    <td>
      {% for m in matriculas %}
        Módulo: {{ m.modulo.get_nombre_display }}<br>
        Costo: {{ m.modulo.costo }}<br><br>
      {% endfor %}
      <strong>Costo Total:</strong> {{ total }}
    </td>
  </tr>
</table>

<br>
<a href="{% url 'index' %}">[inicio]</a>
