<h1>{{ mititulo }}</h1>
<hr>
<h3>Número de Matriculas {{ numero_matriculas }}</h3>
<hr>
[<a href="{% url 'crear_matricula' %}">nuevo</a>]
<hr>
<table border="1px">
  <tr>
    <th><b>Estudiante</b></th>
    <th><b>Módulo</b></th>
    <th><b>Comentario</b></th>
    <th><b>Opciones</b></th>
  </tr>
  {% for e in matriculas %}
  <tr>
    <td>
      {{ e.estudiante.nombre }}
      [<a href="{% url 'detalle_estudiante' e.estudiante.id %}">+</a>]
    </td>
    <td>
      {{ e.modulo.get_nombre_display }}
    </td>
    <td>
      {{ e.comentario }}
    </td>
    <td>
      [<a href="{% url 'detalle_matricula' e.id %}">ver</a>]
      [<a href="{% url 'editar_matricula' e.id %}">editar</a>]
    </td>
  </tr>
  {% endfor %}
</table>

<h2>Reporte de Estudiantes con Matrículas</h2>

<table border="1" cellpadding="8" cellspacing="0">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo</th>
    <th>Edad</th>
    <th>Matrículas</th>
  </tr>
  {% for e in estudiantes %}
  <tr>
    <td>
      {{ e.nombre }}
      [<a href="{% url 'detalle_estudiante' e.id %}">+</a>]
    </td>
    <td>{{ e.apellido }}</td>
    <td>{{ e.get_tipo_estudiante_display }}</td>
    <td>{{ e.edad }}</td>
    <td>
      {% for m in e.obtener_matriculas %}
        Módulo: {{ m.modulo.get_nombre_display }}<br>
        Costo: ${{ m.modulo.costo }}<br><br>
      {% endfor %}
      <strong>Total:</strong> ${{ e.total_matriculas }}
    </td>
  </tr>
  {% endfor %}
</table>
